@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trirong:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

.img-fundo {
  background: url("/images/dama-da-lei.webp");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  height: 227%;
}
header {
  position: relative;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header h1 {
  text-align: center;
  font-family: "Playfair Display SC", serif;
  font-size: 5em;
}
.nav-header {
  width: 940px;
  margin: 0 auto;
  padding: 1em;
}
.ul-nav {
  display: flex;
  margin: 20px auto 0 auto;
  width: 72%;
}
.item-nav {
  margin-left: 10px;
  font-size: 2em;
  font-family: "Nanum Myeongjo", serif;
}
.link-nav {
  text-decoration: none;
  color: black;
}
.link-nav:hover {
  color: goldenrod;
}
.titulos {
  font-family: "Trirong", serif;
  font-size: 2.5em;
}
.sobre {
  position: relative;
  background-color: #fefefe;
  padding: 2em;
}
.sobre-titulo {
  text-align: center;
  margin-bottom: 20px;
}
.sobre-text {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  font-size: 1.3em;
  line-height: 1.5em;
}
.areas-atuacao {
  position: relative;
}
.areas-atuacao-titulo {
  text-align: center;
  margin-top: 10px;
}
.div-atuacao {
  width: 940px;
  margin: 20px auto;
  padding: 1em;
}

.lista-atuacao {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
}
.atuacao-item {
  box-shadow: 2px 2px 2px #ccc;
  background-color: #fff;
  border-radius: 5px;
  margin: 1%;
  width: 30%;
  height: 100px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-text {
  font-family: "Nanum Myeongjo", serif;
  position: absolute;
  font-size: 2em;
}
.tooltip {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}
.tooltip-container {
  width: 300px;
  background-color: #fefefe;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px 0;
  visibility: hidden;
  position: absolute;
  top: -60%;
  left: 1%;
}
.tooltip-text {
  color: black;
  text-align: center;

  /* Position the tooltip */
}
.tooltip:hover .tooltip-container {
  visibility: visible;
}

.contato {
  background-color: #d6d6d6;
  height: 800px;
  padding: 1em;
  position: relative;
}
.contato h4 {
  margin-bottom: 20px;
  text-align: center;
}
.contato > p {
  text-align: center;
  font-style: italic;
  margin-bottom: 30px;
}
.mapa {
  width: 48%;
  position: absolute;
  left: 1%;
  top: 15%;
}
.mapa iframe {
  border-radius: 5px;
}
.contato-info {
  position: absolute;
  width: 48%;
  right: 1%;
}
.contato-opacao legend {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  font-family: "Trirong", serif;
}
.contato-opacao label {
  margin-left: 28%;
}
.form-contato {
  padding: 1em;
  box-sizing: border-box;
}
.label-text {
  font-size: 1.5em;
  font-family: "Trirong", serif;
}
.input-text,
textarea {
  display: block;
  width: 70%;
  margin-bottom: 1em;
  font-size: 1.2em;
  padding: 8px;
  border: none;
  border-radius: 5px;
}
.input-text:focus,
.form-contato textarea:focus {
  box-shadow: inset 0 0 5px rgb(78, 78, 243);
}
.botao {
  margin-top: 1em;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 5px solid #fefefe;
  background-color: #fefefe;
  font-size: 1.2em;
}
.botao:hover {
  transition: 0.2s;
  background-color: goldenrod;
  color: #fefefe;
}
.botao:active {
  background-color: #fefefe;
  color: goldenrod;
  box-shadow: none;
}
.div-zapzap {
  padding-left: 1em;
  padding-top: 3em;
}
.div-zapzap p {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}
.zapzap-link {
  border: 5px solid #fefefe;
  background-color: #fefefe;
  border-radius: 5px;
  margin-left: 37%;
  margin-top: 16%;
  width: 209px;
  height: 270px;
}
.zapzap-link:hover,
.zapzap-link:hover h2 {
  transition: 0.2s;
  color: gold;
}
.zapzap-link:active {
  border: 5px inset #fefefe;
}
.zapzap-link a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-decoration: none;
}
.zapzap-link img {
  width: 72%;
  padding-left: 27px;
}
.zapzap-link h2 {
  text-align: center;
  color: black;
  font-family: "Playfair Display SC", serif;
  font-size: 1.5em;
  line-height: 1.2;
}
